/* AUFGABE 1: 1>Paragraph 1 in der ersten Section */
#sec1 .class-1 { 
    color: rgb(0, 255, 8); 
}


/* AUFGABE 2: selektiere 3>Paragraph Z   */
#sec2 .class-2:last-of-type { 
    color: rgb(255, 200, 0); 
}

/* AUFGABE 3: 2>Paragraph in erster und zweiter Section */
#sec1 .class-2, 
#sec2 .class-2 { 
    color: rgb(128, 0, 0); 
}

/* AUFGABE 4: 3>Paragraph Z in der zweiten section */
#sec2 #id3 .class-2 { 
    color: rgb(143, 14, 166); 
}

/* AUFGABE 5: alle gruenen list items */
.green li { 
    color: rgb(206, 166, 193); 
}

/* AUFGABE 6: jeweils die ersten beiden list items */
li:nth-child(-n+2) { 
    color: cyan; 
}

/* AUFGABE 7: jeweils die ersten beiden list items der blauen und gruenen section */
.blue li:nth-child(-n+2), 
.green li:nth-child(-n+2) { 
    color: rgb(129, 93, 99); 
}

/* AUFGABE 8: Paragraphs in den ersten beiden sections */
#sec1 p, 
#sec2 p { 
    color: rgb(69, 6, 6); 
}
